.figura{
    text-align: center;

}
.libert{
    width: auto;
    text-align: center;
    text-size-adjust: auto;
    font-family: cursive;    
    background-color: rgb(7, 249, 7);
}
.sula{
    width: auto;
    text-align: center;
    text-size-adjust: auto;
    font-family: cursive;    
    background-color: rgb(255, 157, 0);

}
.rebaixamento{
    width: auto;
    text-align: center;
    text-size-adjust: auto;
    font-family: cursive;    
    background-color: rgb(226, 10, 10);

}
.normal{
    width: auto;

}